section.content
  <svg width="2425" height="951" viewBox="0 0 2425 951" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path class="figure-1" d="M803 194H173V769H803V194Z" stroke="black"/>
    <path class="figure-2" d="M1271.63 217L952.202 771.247L1652.7 771.247L1271.63 217.002" stroke="black"/>
    <path class="figure-3" d="M2337.5 481.5C2337.5 639.99 2204.54 768.5 2040.5 768.5C1876.46 768.5 1743.5 639.99 1743.5 481.5C1743.5 323.01 1876.46 194.5 2040.5 194.5C2204.54 194.5 2337.5 323.01 2337.5 481.5Z" stroke="black"/>
</svg>

